body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: aliceblue;
}

.header div {
    margin-left: 10px;
}

.header ul {
    display: flex;
    list-style: none;
    gap: 10px;
    margin: 0;
    padding: 10px;
}